@charset "UTF-8";
/**
  Нормалізація блокової моделі
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Прибираємо внутрішні відступи зліва у тегів списків,
  які мають атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Прибираємо зовнішні відступи у body і двох інших тегів,
  які мають атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Прибираємо зовнішні вертикальні відступи у потрібних тегів,
  які мають атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Прибираємо стандартний маркер у маркованих списків,
  які мають атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляємо вертикальні зовнішні відступи абзацу,
  оголошуємо локальну змінну для зовнішнього відступу вниз,
  щоб уникнути взаємодії зі складнішим селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Зовнішній відступ вниз для абзацу без атрибута class,
  який розташований не останнім серед сусідніх елементів
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Спрощуємо роботу з зображеннями та відео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Успадковуємо властивості шрифту для полів введення
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Стане в пригоді у більшості ситуацій
    (наприклад, коли потрібно "прикріпити" футер донизу сайту)
   */
  height: 100%;
  /**
    Прибираємо стрибок інтерфейсу по горизонталі
    при появі / зникненні скролбару
   */
  scrollbar-gutter: stable;
}

/**
  Плавний скрол
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Стане в пригоді у більшості ситуацій
    (наприклад, коли потрібно "прикріпити" футер донизу сайту)
   */
  min-height: 100%;
  /**
    Уніфікований міжрядковий інтервал
   */
  line-height: 1.5;
}

/**
  Нормалізація висоти елемента посилання при його інспектуванні в DevTools
 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
  Курсор у вигляді руки при наведенні на елемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводимо до єдиного кольору svg-елементи
  (за винятком тих, у яких уже вказано
  атрибут fill зі значенням 'none' або який починається з 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводимо до єдиного кольору svg-елементи
  (за винятком тих, у яких уже вказано
  атрибут stroke зі значенням 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Виправляємо баг затримки зміни кольору при взаємодії з svg-елементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Приведення меж таблиць до класичного виду 'collapse'
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Видаляємо всі анімації та переходи для людей,
  які воліють їх не використовувати
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Chewy";
  src: url("../fonts/Chewy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jersey 15";
  src: url("../fonts/Jersey15-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 24.37375rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile-l {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width <= 89.99875rem) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (width >= 119.99875rem) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (width > 24.37375rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile-l {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width > 89.99875rem) {
  .visible-laptop {
    display: none !important;
  }
}

a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: var();
}

:root {
  --absolute-white: #fff;
  --absolute-black: #000;
  --font-family: "Chewy", sans-serif;
  --second-family: "Jersey 15", sans-serif;
  --shadow-main: 0.375rem 0.375rem 0 0.125rem var(--absolute-black);
  --border-black: 0.125rem solid var(--absolute-black);
  --transition-duration: 0.2s;
  --100vw: calc(100vw - var(--scrollbar-width));
  --container-width: clamp(23.75rem, -1.03125rem + 101.6666666667vw, 100rem);
  --container-padding-x: 1rem;
}
@media (width > 47.99875rem) {
  :root {
    --container-padding-x: 2.25rem;
  }
}
@media (width > 63.99875rem) {
  :root {
    --container-padding-x: 3.75rem;
  }
}
@media (width > 89.99875rem) {
  :root {
    --container-padding-x: 5rem;
  }
}
@media (width >= 119.99875rem) {
  :root {
    --container-padding-x: 10.125rem;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--absolute-black);
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-family);
}

h5,
.h5,
h6,
.h6 {
  font-family: var();
}

h1,
.h1 {
  font-size: clamp(1rem, 0.35rem + 2.6666666667vw, 3rem);
}

h2,
.h2 {
  font-size: clamp(1rem, 0.35rem + 2.6666666667vw, 3rem);
}

h3,
.h3 {
  font-size: clamp(1rem, 0.35rem + 2.6666666667vw, 3rem);
}

h4,
.h4 {
  font-size: clamp(1rem, 0.35rem + 2.6666666667vw, 3rem);
}

h5,
.h5 {
  font-size: clamp(1rem, 0.35rem + 2.6666666667vw, 3rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.35rem + 2.6666666667vw, 3rem);
}

p {
  font-family: var(--second-family);
  font-weight: 500;
  line-height: 1.5;
  color: var();
}

a,
button {
  color: inherit;
  font-family: var();
}
@media (any-hover: hover) {
  a:hover,
  button:hover {
    color: var();
  }
}
@media (any-hover: none) {
  a:active,
  button:active {
    color: var();
  }
}
a[class][type],
button[class][type] {
  text-decoration: none;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

button {
  border: none;
}

:focus-visible {
  outline: 0.125rem dashed var();
  outline-offset: 0.25rem;
  -webkit-transition-duration: 0s !important;
          transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

section {
  margin-bottom: clamp(0.625rem, 0.21875rem + 1.6666666667vw, 1.875rem);
}

body {
  background-image: url("../img/silhouette-grass-sunset.webp");
  background-size: cover;
  background-position: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */